/*
 * Globals
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
  .container {
    margin-bottom: 5px;
  }
  .container .row .nav .active a{
   color: #337ab7;
  }
  .container .row .nav .noactive a{
   color: #555;
  }

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/**修改在模态窗体下显示问题*/
 .datetimepicker  {  
 top: 25%!important;  
 left: 50%!important;
 }  
.form-group.datetime{
	width: 50%;
}