<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
       					http://www.springframework.org/schema/context/spring-context.xsd
       					http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd"
	default-lazy-init="false">

	<!-- <bean id="dataSource" class="org.hsqldb.jdbc.JDBCDataSource"> -->
	<!-- <property name="url" value="jdbc:hsqldb:mem:autowire"/> -->
	<!-- </bean> -->
	<!-- 使用hsqldb 测试 -->
	<jdbc:embedded-database id="dataSourceBar">
		<jdbc:script location="classpath:database-schema-bar.sql" />
	</jdbc:embedded-database>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSourceBar" />
	</bean>
	<!-- 扫描加载mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.wenchukai.**.mapper" />
	</bean>
</beans>