language: java

jdk:
  - oraclejdk8

addons:
  sonarqube:
    organization: "wchukai"
    token:
      secure: ${SONAR_TOKEN}

script:
  - "mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar"

cache:
  directories:
    - '$HOME/.sonar/cache'

branches:
  only:
    - master


after_success:
- bash <(curl -s https://codecov.io/bash)