<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chulung.craft.mapper.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.chulung.craft.model.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"
			typeHandler="com.chulung.craft.mapper.typehandler.LocalDateTimeTypeHandler" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"
			typeHandler="com.chulung.craft.mapper.typehandler.LocalDateTimeTypeHandler" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="type_id" property="typeId" jdbcType="INTEGER" />
		<result column="derivation_Url" property="derivationUrl"
			jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="CHAR" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
		<result column="visit_count" property="visitCount" jdbcType="INTEGER" />
		<result column="comment_count" property="commentCount"
			jdbcType="INTEGER" />
	</resultMap>
	<select id="selectTileList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, title, create_time, update_time, author,
		version
		from article
	</select>
	<select id="listPopularArticles" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, title, type_name,create_time,type_id
		from article ORDER  by index_rank desc
	</select>
	<select id="selectSummarys" resultMap="BaseResultMap">
		select id, title, create_time,
		update_time, author,
		type_id, derivation_url,pic,summary,type_name,
		is_delete,content,visit_count,comment_count
		from
		article
		where type_id !=4
		<if test="typeId != null">
			and type_id= #{typeId,jdbcType=INTEGER}
		</if>
		<if test="typeId == null">
			and type_id in (1,2)
		</if>
		<if test="createTimeStart != null and createTimeEnd!=null">
			and create_time between
			#{createTimeStart,jdbcType=TIMESTAMP,typeHandler=com.chulung.craft.mapper.typehandler.LocalDateTimeTypeHandler}
			and
			#{createTimeEnd,jdbcType=TIMESTAMP,typeHandler=com.chulung.craft.mapper.typehandler.LocalDateTimeTypeHandler}
		</if>
		and is_delete ='N'
		order by create_time desc
	</select>
	<select id="selectListForMetaClblog" resultMap="BaseResultMap">
	<![CDATA[
		SELECT * from article a 
		where a.id NOT IN(
			SELECT article_id from meta_cl_blog_log m,article a 
			where a.id=m.article_id and a.update_time < m.lastest_post_time and site=#{siteName}
		) and type_id=1
	 ]]>
	</select>
	<update id="incrementVisitCount" parameterType="integer">
		update article
		set visit_count=visit_count+1 where id=#{articleId}
	</update>
</mapper>