<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chulung.craft.mapper.ArticleTagMapper">
	<select id="selectAllTags" resultType="com.chulung.craft.model.ArticleTag" >
		SELECT * from (SELECT tag_name tagName,count(*) count from article_tag group by tag_name) t ORDER BY t.count desc
	</select>
</mapper>