<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="AuthorityAspect" class="com.wenchukai.blog.aop.AuthorityAspect"/>
	<bean id="CacheAspect" class="com.wenchukai.cache.aop.CacheAspect"/>
	<bean id="TranscationAspect" class="com.wenchukai.durable.transaction.aop.TranscationAspect"/>
	<!-- 使用annotation注解方式配置 -->
	<context:component-scan base-package="com.wenchukai" />
		<context:property-placeholder
		location="file:${catalina.home}/conf/jdbc.properties" />
	<import resource="classpath*:/spring/*.xml" />

</beans>