<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chulung.blog.mapper.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.chulung.blog.model.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"
			typeHandler="com.chulung.blog.mapper.typehandler.LocalDateTimeTypeHandler" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" 
			typeHandler="com.chulung.blog.mapper.typehandler.LocalDateTimeTypeHandler" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="type_id" property="typeId" jdbcType="INTEGER" />
		<result column="derivation_Url" property="derivationUrl"
			jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="CHAR" />
		<result column="context" property="context" jdbcType="LONGVARCHAR" />
		<result column="visit_count" property="visitCount" jdbcType="INTEGER" />
		<result column="comment_count" property="commentCount" jdbcType="INTEGER" />
	</resultMap>
	<select id="selectTileList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, title, create_time, update_time, author,
		version
		from article
	</select>
	<select id="selectBySelectiveForBlog" resultMap="BaseResultMap">
		select id, title, create_time,
		update_time, author, 
		type_id, derivation_Url,
		version,
		is_delete, context,visit_count,comment_count
		from
		article
		where type_id in (1,3) and is_delete ='N'
		<if test="typeId != null">
			and type_id= #{typeId,jdbcType=INTEGER}
		</if>
		<if test="createTimeStart != null and createTimeEnd!=null">
			and create_time between
			#{createTimeStart,jdbcType=TIMESTAMP,typeHandler=com.chulung.blog.mapper.typehandler.LocalDateTimeTypeHandler} and
			#{createTimeEnd,jdbcType=TIMESTAMP,typeHandler=com.chulung.blog.mapper.typehandler.LocalDateTimeTypeHandler}
		</if>
		order by create_time desc
	</select>
	<select id="selectListForMetaClblog" resultMap="BaseResultMap">
	<![CDATA[
		SELECT * from article a where a.id NOT IN(SELECT article_id from meta_cl_blog_log m,article a where a.id=m.article_id and a.update_time < m.lastest_post_time)
	 ]]>
	</select>
	<update id="incrementVisitCount" parameterType="integer">
		update article  set visit_count=visit_count+1 where id=#{articleId}
	</update>
</mapper>