<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chulung.blog.mapper.ChatterMapper">
	<resultMap id="BaseResultMap" type="com.chulung.blog.model.Chatter">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="context" property="context" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"
			typeHandler="com.chulung.blog.mapper.typehandler.LocalDateTimeTypeHandler" />
		<result column="is_delete" property="isDelete" jdbcType="CHAR" />
	</resultMap>
	
	<select id="selectList" resultMap="BaseResultMap">
		select id,context,create_time,is_delete from chatter where is_delete ='N' order by create_time desc
	</select>
</mapper>