<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pro.chukai.web.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="pro.chukai.web.model.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="reply_id" property="replyId" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"
                typeHandler="pro.chukai.mybatis.typehandler.LocalDateTimeTypeHandler"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="recalcCommentsCountForArticle">
        update article a set comment_count=(select count(*) from comments c where c.article_id=#{id,jdbcType=INTEGER}
        and c.is_delete='N') where a.id =#{id,jdbcType=INTEGER}
    </update>
</mapper>