<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chulung.website.mapper.ArticleDraftHistoryMapper">
    <insert id="insertToArticleDraftHistory">
        insert into article_draft_history(
        id,
        uri,
        article_id,
        title,
        content,
        html_content,
        create_time,
        update_time,
        author,
        is_publish,
        column_id,
        is_delete,
        version,
        licence,
        tags
        ) select * from article_draft where id=#{id}
    </insert>

</mapper>