<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenchukai.blog.mapper.ArticleDraftMapper">
	<resultMap id="BaseResultMap" type="com.wenchukai.blog.model.ArticleDraft">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="article_Id" property="articleId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" typeHandler="com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="mender" property="mender" jdbcType="VARCHAR" />
		<result column="is_publish" property="isPublish" jdbcType="INTEGER" />
		<result column="type_id" property="typeId" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="chang_log" property="changLog" jdbcType="VARCHAR" />
		<result column="context" property="context" jdbcType="LONGVARCHAR" />
		<result column="html_context" property="htmlContext" jdbcType="LONGVARCHAR" />
	</resultMap>
	<insert id="insertSelective" parameterType="com.wenchukai.blog.model.ArticleDraft">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into article_draft
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="articleId != null">
				article_Id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="mender != null">
				mender,
			</if>
			<if test="isPublish != null">
				is_publish,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="changLog != null">
				chang_log,
			</if>
			<if test="context != null">
				context,
			</if>
			<if test="htmlContext != null">
				html_context,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="articleId != null">
				#{articleId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP,typeHandler=com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP,typeHandler=com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="mender != null">
				#{mender,jdbcType=VARCHAR},
			</if>
			<if test="isPublish != null">
				#{isPublish,jdbcType=INTEGER},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="changLog != null">
				#{changLog,jdbcType=VARCHAR},
			</if>
			<if test="context != null">
				#{context,jdbcType=LONGVARCHAR},
			</if>
			<if test="htmlContext != null">
				#{htmlContext,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wenchukai.blog.model.ArticleDraft">
		update article_draft
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.articleId != null">
				article_Id = #{record.articleId,jdbcType=INTEGER},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP,typeHandler=com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP,typeHandler=com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler},
			</if>
			<if test="record.author != null">
				author = #{record.author,jdbcType=VARCHAR},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=INTEGER},
			</if>
			<if test="record.mender != null">
				mender = #{record.mender,jdbcType=VARCHAR},
			</if>
			<if test="record.isPublish != null">
				is_publish = #{record.isPublish,jdbcType=INTEGER},
			</if>
			<if test="record.typeId != null">
				type_id = #{record.typeId,jdbcType=INTEGER},
			</if>
			<if test="record.isDelete != null">
				is_delete = #{record.isDelete,jdbcType=INTEGER},
			</if>
			<if test="record.version != null">
				version = #{record.version,jdbcType=INTEGER},
			</if>
			<if test="record.changLog != null">
				chang_log = #{record.changLog,jdbcType=VARCHAR},
			</if>
			<if test="record.context != null">
				context = #{record.context,jdbcType=LONGVARCHAR},
			</if>
			<if test="record.htmlContext != null">
				html_context =
				#{record.htmlContext,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, article_Id, title, create_time, update_time,
		author, user_id,
		mender,
		is_publish, type_id, is_delete, version,
		chang_log, context, html_context
		from article_draft
		where id =
		#{id,jdbcType=INTEGER}
	</select>
	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, article_Id, title, create_time, update_time,
		author,
		user_id,
		mender,
		is_publish, type_id, is_delete, version,
		chang_log,
		context, html_context
		from article_draft
		<if test="id != null">
			where id = #{id,jdbcType=INTEGER},
		</if>
		<if test="articleId != null">
			where article_id = #{articleId,jdbcType=INTEGER},
		</if>
	</select>
	<select id="selectTileList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, title, create_time, update_time, author,
		version
		from article_draft
	</select>
</mapper>