<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenchukai.blog.mapper.ArticleDraftMapper">
	<resultMap id="BaseResultMap" type="com.wenchukai.blog.model.ArticleDraft">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="article_Id" property="articleId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" typeHandler="com.wenchukai.ckbatis.typehandler.LocalDateTimeTypeHandler" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="mender" property="mender" jdbcType="VARCHAR" />
		<result column="is_publish" property="isPublish" jdbcType="INTEGER" />
		<result column="type_id" property="typeId" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="chang_log" property="changLog" jdbcType="VARCHAR" />
		<result column="context" property="context" jdbcType="LONGVARCHAR" />
		<result column="html_context" property="htmlContext" jdbcType="LONGVARCHAR" />
	</resultMap>
	<select id="selectTileList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, title, create_time, update_time, author,
		version
		from article_draft
	</select>
</mapper>